$centraliza: center;
$font-family: "RobotoMono";
$src: "../fonts/RobotoMono-Thin.ttf";

* {
    font-family: $font-family, monospace;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: $centraliza;
    align-items: $centraliza;
    height: 100vh;
    text-align: $centraliza;
}

.app {
    width: 70vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 12%);
    padding: 30px;
    h1 {
        text-align: left;
    }
}