.content {
    table {
        width  : 100%;
        height : 200px;
        padding: 0;
        thead {
            background-color: #71c155;
            color           : white;
        }
        tbody {
            background-color: gray;
        }
        tbody td {
            padding         : 0;
            background-color: #e6e6e6;
        }
    }
}